[submodule "external/cert-manager"]
    path = external/cert-manager
    url = https://github.com/jetstack/cert-manager.git
    branch = v0.11.1
    shallow = true
[submodule "external/open-policies"]
	path = external/open-policies
	url = https://github.com/open-policy-agent/gatekeeper
    shallow=true