resources/
.vscode/
vendor/
out.yaml
*.tgz
out.txt
tmp
charts/cert-manager/*
charts/gatekeeper-templates/crds/general/*
charts/gatekeeper-templates/crds/pod-security-policy/*
!version.txt
!setup.sh
!.gitkeep
